




@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400&family=Cairo:wght@400&family=Changa:wght@300&family=IBM+Plex+Sans+Arabic:wght@400&family=Mada:wght@400&family=Tajawal:wght@500&display=swap');

.PalMix-currencies{
  direction: rtl;
}

.f-Almarai{
font-family: 'Almarai', sans-serif;
}

.f-Cairo{
font-family: 'Cairo', sans-serif;
}
.f-Changa{
font-family: 'Changa', sans-serif;
}
.f-IBM{
font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.f-Mada{
font-family: 'Mada', sans-serif;
}
.f-Tajawal{
font-family: 'Tajawal', sans-serif;
}




.PalMix-currencies table {
  border-collapse: collapse;
  width: 100%;
}

.PalMix-currencies td,.PalMix-currencies th{
padding:5px;
}


.PalMix-currencies td {
  font-size:.8em;
}

/*
*/





.PalMix-currencies th {
  background-color: var(--palmix-blue);
  color: white;
  font-size:.9em;
}
.PalMix-currencies .mx-1{
margin:auto 3px;
}


.PalMix-currencies #palmixtablefooter{
font-size:.7em;

}













:root {
--palmix-blue: #0d6efd;
    --palmix-indigo: #6610f2;
    --palmix-purple: #6f42c1;
    --palmix-pink: #d63384;
    --palmix-red: #dc3545;
    --palmix-orange: #fd7e14;
    --palmix-yellow: #ffd700;
    --palmix-green: #198754;
    --palmix-teal: #20c997;
    --palmix-cyan: #0dcaf0;
    --palmix-white: #ffffff;
    --palmix-gray: #6c757d;
    --palmix-gray-dark: #343a40;
    --palmix-primary: #0d6efd;
    --palmix-secondary: #6c757d;
    --palmix-success: #198754;
    --palmix-info: #65e5ff;
    --palmix-warning: #ffc107;
    --palmix-danger: #dc3545;
    --palmix-light: #f8f9fa;
    --palmix-dark: #212529;
    --palmix-night:#000;
    --palmix-night-800:#212529;
    
    
    
    --palmix-blue-transparent: #0d6efd0a;
    --palmix-indigo-transparent: #6610f21c;
    --palmix-purple-transparent: #6f42c11c;
    --palmix-pink-transparent: #d633841c;
    --palmix-red-transparent: #dc35451c;
    --palmix-orange-transparent: #fd7e141c;
    --palmix-yellow-transparent: #ffd7001c;
    --palmix-green-transparent: #1987541c;
    --palmix-teal-transparent: #20c9971c;
    --palmix-cyan-transparent: #0dcaf01c;
    --palmix-white-transparent: #ffffff1c;
    --palmix-gray-transparent: #6c757d1c;
    --palmix-gray-dark-transparent: #343a401c;
    --palmix-primary-transparent: #0d6efd1c;
    --palmix-secondary-transparent: #6c757d1c;
    --palmix-success-transparent: #1987541c;
    --palmix-info-transparent: #65e5ff1c;
    --palmix-warning-transparent: #ffc1071c;
    --palmix-danger-transparent: #dc35451c;
    --palmix-light-transparent: #f8f9fa1c;
    --palmix-dark-transparent: #2125291c;
    --palmix-night-transparent:#0000001c;
    --palmix-night-800-transparent:#2125291c;
}



  .PalMix-currencies table .palmix-ring div{
  border: 3px solid var(--palmix-dark);
  border-color: var(--palmix-dark) transparent transparent transparent;
  }
  
  
  

.PalMix-currencies table.blue th{
  background-color: var(--palmix-blue);
  color: white;
}
.PalMix-currencies table.blue tr{
border-top: var(--palmix-blue-transparent) solid 1px;
}
.PalMix-currencies table.nth-child.blue tr:nth-child(even){
background-color: var(--palmix-blue-transparent)
}
.PalMix-currencies table.blue .palmix-ring div{
  border: 3px solid var(--palmix-blue);
  border-color: var(--palmix-blue) transparent transparent transparent;
}
.PalMix-currencies table.blue tfoot tr{
  border-top: 1px solid var(--palmix-blue);
}




.PalMix-currencies table.indigo th{
  background-color: var(--palmix-indigo);
  color: white;
}
.PalMix-currencies table.indigo tr{
border-top: var(--palmix-indigo-transparent) solid 1px;
}
.PalMix-currencies table.nth-child.indigo tr:nth-child(even){
background-color: var(--palmix-indigo-transparent)
}
.PalMix-currencies table.indigo .palmix-ring div{
  border: 3px solid var(--palmix-indigo);
  border-color: var(--palmix-indigo) transparent transparent transparent;
}
.PalMix-currencies table.indigo tfoot tr{
  border-top: 1px solid var(--palmix-indigo);
}




.PalMix-currencies table.dark th{
  background-color: var(--palmix-dark);
  color: white;
}
.PalMix-currencies table.dark tr{
border-top: var(--palmix-dark-transparent) solid 1px;
}
.PalMix-currencies table.nth-child.dark tr:nth-child(even){
background-color: var(--palmix-dark-transparent)
}
.PalMix-currencies table.dark .palmix-ring div{
  border: 3px solid var(--palmix-dark);
  border-color: var(--palmix-dark) transparent transparent transparent;
}
.PalMix-currencies table.dark tfoot tr{
  border-top: 1px solid var(--palmix-dark);
}





.PalMix-currencies table.light th{
  background-color: var(--palmix-light);
  color: var(--palmix-dark);;
}
.PalMix-currencies table.light tr{
border-top: var(--palmix-gray-transparent) solid 1px
}
.PalMix-currencies table.nth-child.light tr:nth-child(even){
background-color: var(--palmix-light-transparent)
}
.PalMix-currencies table.light .palmix-ring div{
  border: 3px solid var(--palmix-gray);
  border-color: var(--palmix-gray) transparent transparent transparent;
}
.PalMix-currencies table.light tfoot tr{
  border-top: 2px solid var(--palmix-gray-transparent);
}




.PalMix-currencies table.danger th{
  background-color: var(--palmix-danger);
  color: white;
}
.PalMix-currencies table.danger tr{
border-top: var(--palmix-danger-transparent) solid 1px
}
.PalMix-currencies table.nth-child.danger tr:nth-child(even){
background-color: var(--palmix-danger-transparent)
}
.PalMix-currencies table.danger .palmix-ring div{
  border: 3px solid var(--palmix-danger);
  border-color: var(--palmix-danger) transparent transparent transparent;
}
.PalMix-currencies table.danger tfoot tr{
  border-top: 1px solid var(--palmix-danger);
}





.PalMix-currencies table.warning th{
  background-color: var(--palmix-warning);
  color: var(--palmix-dark);
}
.PalMix-currencies table.warning tr{
border-top: var(--palmix-warning-transparent) solid 1px
}
.PalMix-currencies table.nth-child.warning tr:nth-child(even){
background-color: var(--palmix-warning-transparent)
}
.PalMix-currencies table.warning .palmix-ring div{
  border: 3px solid var(--palmix-warning);
  border-color: var(--palmix-warning) transparent transparent transparent;
}
.PalMix-currencies table.warning tfoot tr{
  border-top: 1px solid var(--palmix-warning);
}



.PalMix-currencies table.info th{
  background-color: var(--palmix-info);
  color: var(--palmix-dark);
}
.PalMix-currencies table.info tr{
border-top: var(--palmix-info-transparent) solid 1px
}
.PalMix-currencies table.nth-child.info tr:nth-child(even){
background-color: var(--palmix-info-transparent)
}
.PalMix-currencies table.info .palmix-ring div{
  border: 3px solid var(--palmix-info);
  border-color: var(--palmix-info) transparent transparent transparent;
}
.PalMix-currencies table.info tfoot tr{
  border-top: 1px solid var(--palmix-info);
}


.PalMix-currencies table.success th{
  background-color: var(--palmix-success);
  color: white;
}
.PalMix-currencies table.success tr{
border-top: var(--palmix-success-transparent) solid 1px
}
.PalMix-currencies table.nth-child.success tr:nth-child(even){
background-color: var(--palmix-success-transparent)
}
.PalMix-currencies table.success .palmix-ring div{
  border: 3px solid var(--palmix-success);
  border-color: var(--palmix-success) transparent transparent transparent;
}
.PalMix-currencies table.success tfoot tr{
  border-top: 1px solid var(--palmix-success);
}



.PalMix-currencies table.secondary th{
  background-color: var(--palmix-secondary);
  color: white;
}
.PalMix-currencies table.secondary tr{
border-top: var(--palmix-secondary-transparent) solid 1px
}
.PalMix-currencies table.nth-child.secondary tr:nth-child(even){
background-color: var(--palmix-secondary-transparent)
}
.PalMix-currencies table.secondary .palmix-ring div{
  border: 3px solid var(--palmix-secondary);
  border-color: var(--palmix-secondary) transparent transparent transparent;
}
.PalMix-currencies table.secondary tfoot tr{
  border-top: 1px solid var(--palmix-secondary);
}


.PalMix-currencies table.primary th{
  background-color: var(--palmix-primary);
  color: white;
}
.PalMix-currencies table.primary tr{
border-top: var(--palmix-primary-transparent) solid 1px
}
.PalMix-currencies table.nth-child.primary tr:nth-child(even){
background-color: var(--palmix-primary-transparent)
}
.PalMix-currencies table.primary .palmix-ring div{
  border: 3px solid var(--palmix-primary);
  border-color: var(--palmix-primary) transparent transparent transparent;
}
.PalMix-currencies table.primary tfoot tr{
  border-top: 1px solid var(--palmix-primary);
}



.PalMix-currencies table.gray-dark th{
  background-color: var(--palmix-gray-dark);
  color: white;
}
.PalMix-currencies table.gray-dark tr{
border-top: var(--palmix-gray-dark-transparent) solid 1px
}
.PalMix-currencies table.nth-child.gray-dark tr:nth-child(even){
background-color: var(--palmix-gray-dark-transparent)
}
.PalMix-currencies table.gray-dark .palmix-ring div{
  border: 3px solid var(--palmix-gray-dark);
  border-color: var(--palmix-gray-dark) transparent transparent transparent;
}

.PalMix-currencies table.gray-dark tfoot tr{
  border-top: 1px solid var(--palmix-gray-dark);
}






.PalMix-currencies table.gray th{
  background-color: var(--palmix-gray);
  color: white;
}
.PalMix-currencies table.gray tr{
border-top: var(--palmix-gray-transparent) solid 1px
}
.PalMix-currencies table.nth-child.gray tr:nth-child(even){
background-color: var(--palmix-gray-transparent)
}
.PalMix-currencies table.gray .palmix-ring div{
  border: 3px solid var(--palmix-gray);
  border-color: var(--palmix-gray) transparent transparent transparent;
}
.PalMix-currencies table.gray tfoot tr{
  border-top: 1px solid var(--palmix-gray);
}




.PalMix-currencies table.white th{
  background-color: var(--palmix-dark-transparent);
  color: var(--palmix-dark);
}
.PalMix-currencies table.white tr{
border-top: var(--palmix-dark-transparent) solid 1px
}
.PalMix-currencies table.nth-child.white tr:nth-child(even){
background-color: var(--palmix-gray-transparent)
}
.PalMix-currencies table.white .palmix-ring div{
  border: 3px solid var(--palmix-gray);
  border-color: var(--palmix-gray) transparent transparent transparent;
}
.PalMix-currencies table.white tfoot tr{
  border-top: 1px solid var(--palmix-gray);
}


.PalMix-currencies table.cyan th{
  background-color: var(--palmix-cyan);
  color: var(--palmix-dark);
}
.PalMix-currencies table.cyan tr{
border-top: var(--palmix-cyan-transparent) solid 1px
}
.PalMix-currencies table.nth-child.cyan tr:nth-child(even){
background-color: var(--palmix-cyan-transparent)
}
.PalMix-currencies table.cyan .palmix-ring div{
  border: 3px solid var(--palmix-cyan);
  border-color: var(--palmix-cyan) transparent transparent transparent;
}
.PalMix-currencies table.cyan tfoot tr{
  border-top: 1px solid var(--palmix-cyan);
}




.PalMix-currencies table.teal th{
  background-color: var(--palmix-teal);
  color: white;
}
.PalMix-currencies table.teal tr{
border-top: var(--palmix-teal-transparent) solid 1px
}
.PalMix-currencies table.nth-child.teal tr:nth-child(even){
background-color: var(--palmix-teal-transparent)
}
.PalMix-currencies table.teal .palmix-ring div{
  border: 3px solid var(--palmix-teal);
  border-color: var(--palmix-teal) transparent transparent transparent;
}
.PalMix-currencies table.teal tfoot tr{
  border-top: 1px solid var(--palmix-teal);
}



.PalMix-currencies table.green th{
  background-color: var(--palmix-green);
  color: white;
}
.PalMix-currencies table.green tr{
border-top: var(--palmix-green-transparent) solid 1px
}
.PalMix-currencies table.nth-child.green tr:nth-child(even){
background-color: var(--palmix-green-transparent)
}
.PalMix-currencies table.green .palmix-ring div{
  border: 3px solid var(--palmix-green);
  border-color: var(--palmix-green) transparent transparent transparent;
}
.PalMix-currencies table.green tfoot tr{
  border-top: 1px solid var(--palmix-green);
}


.PalMix-currencies table.yellow th{
  background-color: var(--palmix-yellow);
  color: var(--palmix-dark);
}
.PalMix-currencies table.yellow tr{
border-top: var(--palmix-yellow-transparent) solid 1px
}
.PalMix-currencies table.nth-child.yellow tr:nth-child(even){
background-color: var(--palmix-yellow-transparent)
}
.PalMix-currencies table.yellow .palmix-ring div{
  border: 3px solid var(--palmix-yellow);
  border-color: var(--palmix-yellow) transparent transparent transparent;
}
.PalMix-currencies table.yellow tfoot tr{
  border-top: 1px solid var(--palmix-yellow);
}



.PalMix-currencies table.orange th{
  background-color: var(--palmix-orange);
  color: white;
}
.PalMix-currencies table.orange tr{
border-top: var(--palmix-orange-transparent) solid 1px
}
.PalMix-currencies table.nth-child.orange tr:nth-child(even){
background-color: var(--palmix-orange-transparent)
}
.PalMix-currencies table.orange .palmix-ring div{
  border: 3px solid var(--palmix-orange);
  border-color: var(--palmix-orange) transparent transparent transparent;
}
.PalMix-currencies table.orange tfoot tr{
  border-top: 1px solid var(--palmix-orange);
}


.PalMix-currencies table.red th{
  background-color: var(--palmix-red);
  color: white;
}
.PalMix-currencies table.red tr{
border-top: var(--palmix-red-transparent) solid 1px
}
.PalMix-currencies table.nth-child.red tr:nth-child(even){
background-color: var(--palmix-red-transparent)
}
.PalMix-currencies table.red .palmix-ring div{
  border: 3px solid var(--palmix-red);
  border-color: var(--palmix-red) transparent transparent transparent;
}
.PalMix-currencies table.red tfoot tr{
  border-top: 1px solid var(--palmix-red);
}



.PalMix-currencies table.pink th{
  background-color: var(--palmix-pink);
  color: white;
}
.PalMix-currencies table.pink tr{
border-top: var(--palmix-pink-transparent) solid 1px
}
.PalMix-currencies table.nth-child.pink tr:nth-child(even){
background-color: var(--palmix-pink-transparent)
}
.PalMix-currencies table.pink .palmix-ring div{
  border: 3px solid var(--palmix-pink);
  border-color: var(--palmix-pink) transparent transparent transparent;
}
.PalMix-currencies table.pink tfoot tr{
  border-top: 1px solid var(--palmix-pink);
}



.PalMix-currencies table.purple th{
  background-color: var(--palmix-purple);
  color: white;
}
.PalMix-currencies table.purple tr{
border-top: var(--palmix-purple-transparent) solid 1px
}
.PalMix-currencies table.nth-child.purple tr:nth-child(even){
background-color: var(--palmix-purple-transparent)
}
.PalMix-currencies table.purple .palmix-ring div{
  border: 3px solid var(--palmix-purple);
  border-color: var(--palmix-purple) transparent transparent transparent;
}
.PalMix-currencies table.purple tfoot tr{
  border-top: 1px solid var(--palmix-purple);
}



.PalMix-currencies table.blue th{
  background-color: var(--palmix-blue);
  color: white;
}
.PalMix-currencies table.blue tr{
border-top: var(--palmix-blue-transparent) solid 1px
}
.PalMix-currencies table.nth-child.blue tr:nth-child(even){
background-color: var(--palmix-blue-transparent)
}
.PalMix-currencies table.blue .palmix-ring div{
  border: 3px solid var(--palmix-blue);
  border-color: var(--palmix-blue) transparent transparent transparent;
}
.PalMix-currencies table.blue tfoot tr{
  border-top: 1px solid var(--palmix-blue);
}
  
  
  
  
.PalMix-currencies table.night .palmix-ring div{
  border: 3px solid #fff;
  border-color: #fff transparent transparent transparent;
  }
  
.PalMix-currencies table.night th{
  background-color: var(--palmix-night);
  color: var(--palmix-light);
}
.PalMix-currencies table.night tr{
border-top: var(--palmix-light-transparent) solid 1px;
color: var(--palmix-light);
background-color: var(--palmix-night-800);
}
.PalMix-currencies table.night a{
color: var(--palmix-white);
}
.PalMix-currencies table.nth-child.night tr:nth-child(even){
background-color: var(--palmix-light-transparent)
}
.PalMix-currencies table.night tfoot tr{
  border-top: 1px solid var(--palmix-night);
}



.palmix-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.palmix-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 50%;
  animation: palmix-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.palmix-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.palmix-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.palmix-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes palmix-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.f-left{float:left}

.icobase svg{
	fill: rgb(146 146 146);
    width: 13px;
    height: 13px;
	transition: all .15s ease-in-out;
}
.icobase:hover svg{
	fill: rgb(84 84 84);

}